<div class="navigation">
  <div class="navigation-content">
    <a class="heading-link" routerLink="home">Tours</a>
    <div class="content-nav">
      <ng-container *ngIf="authStore.state$ | async as authState">
        <ng-container *ngIf="favoritesStore.state$ | async as favState">
          <app-navbar
            [authState]="authState"
            [favState]="favState"
            (loggedOut)="onLogout()"
          >
          </app-navbar>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
