.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .navigation-content {
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: .5rem 5rem;

    @media (max-width: 550px) {
      gap: 4rem;
      padding: 2rem 3rem;
    }

    .heading-link {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 700;
      color: #1c1b1b;
      text-transform: uppercase;

      display: flex;
      align-self: center;
    }
  }

  .links-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-items {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    &-navigation {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .nav-link {
      font-weight: 600;
      text-decoration: none;
      font-size: 1.3rem;
      color: #1c1b1b;
    }

    .active {
      color: #2d68ff;
      font-weight: 700;
    }
  }

}

.profile-gap {
  gap: .5rem;

  .material-icons {
    font-size: 18px;
  }

  .title {
    font-size: 1.5rem;
  }
}
