* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;

  @media (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: 1px;
}

.pages-container {
  max-width: 120rem;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
}
