.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-sm {
  gap: 1rem;
}


// MARGINS
.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}
