img {
  width: 100%;
}

.cards-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.pagination-box {
  margin-top: 3rem;
}
