.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  @media (max-width: 46.875em) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .image-container {
    background-image: linear-gradient(to bottom,
      rgba(135, 217, 245, 0.46), rgba(109, 213, 250, 0.75), rgba(7, 79, 185, 0.77));
  }

  .form-container {
    position: relative;

    .button-home {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
    }

    .page-content {
      width: 50%;

      @media (max-width: 34.375em) {
        width: 75%;
      }
    }
  }
}
